
/* Police générée automatiquement par Typo Embedder Plugin */
@font-face {
    font-family: 'chunkobold';
    src: url('data:font/opentype;base64,') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Exemple d'utilisation */
.chunkobold-text {
    font-family: 'chunkobold', sans-serif;
}
